:root {
    --ml: 0;
    --mb: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

body.black {
    background-color: black;
}

.board {
    width: 50%;
    aspect-ratio: 1;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    gap: 0;
    border: 2px solid #333;
}

.row {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0;
}

.cell {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell.white {
    background: #f0d9b5;
}

.cell.black {
    background: #b58863;
}

.piece {
    width: 5%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid #000;
    box-shadow: 2px 2px 2px #000;
    cursor: pointer;
    position: absolute;
    margin-left: var(--ml, 0);
    margin-bottom: var(--mb, 0);

    transition: transform 300ms ease-in-out;
}

.piece.white {
    background: #fff;
}
.piece.black {
    background: #272727;
}

.piece.selected {
    border: 4px solid yellow;
}


